.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
}

.modal-main {
  position:fixed;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  background-color: black;
  border: 1px solid white;
  border-radius: 5px;
  padding: 8px;
}

.modal-title {
  padding-bottom: 5px;
  border-bottom: 1px solid grey;
  font-weight: bolder;
}

.modal-display-block {
  display: block;
}

.modal-display-none {
  display: none;
}

.modal-content {
  padding-top: 8px;
}

.modal-buttons {
  float: right;
}

.modal-button {
  background-color: yellowgreen;
  color: white;
  border: 3px solid green;
  border-radius: 3px;
  padding: 5px;
  font-weight: 800;
}