.slrc-tab-container {
    margin: auto;
}
  
.slrc-tab-headers {
    align-items: left;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
}

.slrc-tab-header {
    padding: 10px;
    margin-right: 2px;
    border: 1px solid white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color:grey;
    white-space: nowrap;
    font-size: smaller;
    background-color: black;
    cursor: pointer;
}

.active-slrc-tab-header {
    color:white;
    background-color: darkblue;
    font-weight: 700;
}

.slrc-tab-content {
    padding: 5px;
    border: 1px solid white;
    color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    align-items: left;
    text-align: left;
}
  