@import './styles/modal.scss';
@import './styles/modal-true-false-selection.scss';
@import './styles/tabs.scss';

body {
  background-color: black;
  color: white;
}

.App {
  width: 80%;
  margin: auto;
  padding-bottom: 5px;
}

.App-header {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.demo {
  border: 1px solid white;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  margin-top: 25px;
}

.demo-items {
  padding-bottom: 10px;
}

$demo-background: #112233;

.demo-items {
  padding: 3px;
  padding-top: 25px;
  
  > div {
    border-left: 1px solid white;
    padding-left: 10px;
  }


  &-comment {
    font-weight: bold;
  }
  
  &-code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    background-color: $demo-background;
    white-space: pre;
  }
  
  &-code-header {
    padding-top: 5px;
  }
  
  
  &-result {
    padding: 3px;
    font-weight: bold;
    background-color: $demo-background;
  }

  &-result-header {
    padding: 3px;
  }
}

.btn {
  background-color: yellowgreen;
  color: white;
  border: 3px solid green;
  border-radius: 3px;
  padding: 5px;
  font-weight: 800;
  font-size: 10pt;

  &-danger {
      background-color: orangered;
      border: 3px solid darkred;
  }
}
